<div class="row justify-content-center">
  <div class="col-xs-auto pl-2 pr-2">
    <a class="" href="https://github.com/ipnicholson" target="_blank" title="View my GitHub">
      <i class="fab fa-github-square fa-3x"></i>
    </a>
  </div>
  <div class="col-xs-auto pl-2 pr-2">
    <a class="" href="https://linkedin.com/in/ipnicholson" target="_blank" title="View my LinkedIn">
      <i class="fab fa-linkedin fa-3x"></i>
    </a>
  </div>
  <div class="col-xs-auto pl-2 pr-2">
    <a class="" href="https://twitter.com/ipnicholson" target="_blank" title="View my Twitter">
      <i class="fab fa-twitter-square fa-3x"></i>
    </a>
  </div>
</div>