<div class="jumbotron bg-success">
    <div class="row">
        <div class="col-lg-4">
          <img class="img-thumbnail rounded-circle" src="https://pbs.twimg.com/profile_images/821458860678356992/d2r09MIw_400x400.jpg" alt="">
        </div>
        <div class="col-lg-8">
          <h1 class="display-3">Hello, World 👋 </h1>
          <p class="lead">I'm a full-stack web developer seeking a software engineering position from Los Angeles to Santa Barbara.</p>
          <hr class="my-4">
          <p>Take a look at <a href="https://github.com/ipnicholson">my Github</a>.</p> 
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
    </div>
  </div>