<div class="jumbotron bg-success">
  <div class="row">
    <div class="col-lg-4 col-md-8 mx-auto pb-4 mb-4">
      <img class="img-thumbnail rounded-circle" src="assets/img/ian-nicholson-800x800.jpg" alt="">
    </div>
    <div class="col-lg-8">
      <h1 class="display-3">Hello, World 👋 </h1>
      <p class="lead">I'm a full-stack web developer seeking an intern or junior-level software engineering position. A lifelong Californian, I'm a UC Berkeley alumnus in Civil & Environmental Engineering.</p>
      <p class="lead">In 2017, a friend gave me
        <a href="https://en.wikipedia.org/wiki/Hackers_%26_Painters"><i>Hackers & Painters</i></a>
        by Y Combinator co-founder
        <a href="http://www.paulgraham.com/">Paul Graham</a>. The essays on hacking and business were mind-blowing, and I knew from that point I wanted to be a developer.
      </p>
      <p class="lead">When I'm not at my computer, you'll find me outside surfing, spearfishing, and exploring.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/ipnicholson" target="_blank" role="button">View my GitHub</a>
      </p>
    </div>
  </div>
</div>