<div class="jumbotron bg-warning">
  <div class="row">
    <div class="col-lg-4 col-md-8 mx-auto pb-4 mb-4">
      <img class="img-thumbnail rounded-circle" src="assets/img/ian-nicholson-800x800.jpg" alt="">
    </div>
    <div class="col-lg-8">
      <h1 class="display-3">Hello, World 👋 </h1>
      <p class="lead mt-3">I'm a full-stack web developer currently leading a team of programming interns at <a href="https://www.rcmakes.com/">RCMakes</a>, and developing new information technology classes and software development curriculum for the <a href="https://www.vcoe.org/cec">Career Education Center</a> (CEC) of Ventura County.</p>
      <p class="lead">I'm also a co-founder of the <a href="https://www.meetup.com/805-Tech-Mentor-Network/">805 Tech Mentor Network</a> and work with the CEC and sponsors to deliver <a href="https://www.hackathonbythesea.com/">hackathon events for Ventura County high school students</a>. A lifelong Californian, I'm a UC Berkeley alumnus in Civil & Environmental Engineering.</p>
      <p class="lead">My software development journey began in 2017 when a friend gave me
        <a href="https://en.wikipedia.org/wiki/Hackers_%26_Painters"><i>Hackers & Painters</i></a>
        by Y Combinator co-founder
        <a href="http://www.paulgraham.com/">Paul Graham</a>. The essays on hacking and business were insightful and eye-opening, and I knew from that point I wanted to be a developer.
      </p>
      <p class="lead">When I'm not at my computer, you'll find me outside - sailing and surfing.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/ipnicholson" target="_blank" role="button">View my GitHub</a>
      </p>
    </div>
  </div>
</div>