---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

.content {
  font-size: $custom-font-size;
}

body {
  margin-top: 70px;
}

footer {
  p {
    font-size: 12px;
  }
}

.spacer-ipn {
  padding: 0px 20px 12px 20px;
}